{% extends 'base.html' %}
{% block title %}Crear Nuevo Post{% endblock %}

{% block content %}
    <h1>Crear Nuevo Post</h1>
    
    <form method="POST">
        <div>
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" required>
        </div>
        
        <div>
            <label for="body">Contenido:</label>
            <textarea id="body" name="body" rows="10" required></textarea>
        </div>
        
        <div>
            <button type="submit" class="btn-create">Crear Post</button>
            <a href="{{ url_for('listar_posts') }}" class="btn-outline-secondary" style="margin-left: 10px;">Cancelar</a>
        </div>
    </form>
{% endblock %}