{% extends 'base.html' %}
{% block title %}Editar Post{% endblock %}

{% block content %}
    <h1>Editar Post</h1>
    
    <form method="POST">
        <div>
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" value="{{ post.title }}" required>
        </div>
        
        <div>
            <label for="body">Contenido:</label>
            <textarea id="body" name="body" rows="10" required>{{ post.body }}</textarea>
        </div>
        
        <div>
            <button type="submit" class="btn-edit">Guardar Cambios</button>
            <a href="{{ url_for('detalle_post', post_id=post.id) }}" class="btn-outline-secondary" style="margin-left: 10px;">Cancelar</a>
        </div>
    </form>
{% endblock %}